<%- include('partials/frontpageheader') -%>

<main class="container">
    <section class="centerSection">
        <section class="leftFront">
            <h1 class="slogan">Bringing the bar <br> to your home</h1>
        </section>
        <section class="rightFront">
            <img class="indexLogo" src="/imgs/hometender.png">
        </section>
    </section>
    <section class="indexLogin">
        <div class="row justify-content-around mt-5">
            <a href="/login" class="col-3 btn btn-primary"> Login</a>
            <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
        </div>
    </section>
</main>
    

<%- include('partials/footer') -%>