/******************************************
/* BASE STYLES
/*******************************************/
body {
  background: #1F0F53;
}

.logo {
  width: 36px;
  height: 36px;
  margin-top: 5px;
  margin-left: 0;
}

.slogan {
  color: #FF5DB2;
  font-variant: small-caps;
  font-size: 3.5rem;
  justify-content: center;
}

.nav-link {
  border: 5px solid #15B5B0;
  border-radius: 15px;
  color: #ff5db2;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  margin: 5px;
}

.nav-link:hover {
  color: #15B5B0;
}

.slogan {
  text-align: center;
  padding-top: 50px;
}

.leftFront {
  width: 50%;
  height: 500px;
  padding-top: 150px;
}

.rightFront {
  width: 50%;
  height: 500px;
}

.indexLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-3 {
  border: 5px solid #15B5B0;
  background: none;
  border-radius: 15px;
  color: #ff5db2;
  font-weight: bold;
  font-size: 18px;
  height: fit-content;
}

.col-3:hover {
  color: #15B5B0;
  background: none;
  border: 5px solid #15B5B0;
}

.loginTitle {
  color: #ff5db2
}



.btn-primary {
  border: 5px solid #15B5B0;
  background: none;
  border-radius: 15px;
  color: #ff5db2;
  font-weight: bold;
  font-size: 18px;
  width: fit-content;
}

.form-text {
  color: #FFDB99
}

.mt-5 {
  color: #FFDB99;
}

/******************************************
/* FRONT PAGE NAV STYLE & LAYOUT
/*******************************************/

.logo{
  display: flex;
  justify-content: flex-start;
  height: auto;
  width: 30%;
}

.navLogo {
  float: left;
  justify-content: flex-start;
}

header .container {
}
/******************************************
/* LOGGED IN PAGE NAV STYLE & LAYOUT
/*******************************************/

.navHeader {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-text {
  color: #FFDB99;
  display: flex;
  text-decoration: none;
  padding: 5px;
}

.navbar-text:hover {
  color: #ff5db2;
  background: none;
}

.navHeader {
  float: right;
}

/******************************************
/* PROFILE STYLE & LAYOUT
/*******************************************/

h2.mb-3 {
  color: #ff5db2;
}

/******************************************
/* LAYOUT
/*******************************************/

.leftFront {
  float: left;
}

.rightFront {
  float: right;

}

.slogan {
  display: flex;
}

.indexLogin {
  width: 100%;
}

/***********************************************
/* CSS FOR TAG BOX
/**********************************************/

/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  color: black;
  background: #fff;
  border-radius: 10px;
  padding: 18px 25px 20px;
}

.wrapper :where(.title, li, li i, .details){
  display: flex;
  align-items: center;
}

.wrapper .title img{
  max-width: 21px;
}

.wrapper .title .form-label{
  font-size: 21px;
  font-weight: 600;
  margin-left: 8px;
}

.wrapper .content {
  margin: 10px 0;
}

.content p{
  font-size: 15px;
}

.content ul{
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
}

.content ul li{
  list-style: none;
  margin: 4px 3px;
  border-radius: 5px;
  background: #f2f2f2;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3d1e1
}

.content ul li i{
  height: 20px;
  width: 20px;
  cursor: pointer;
  color: #808080;
  font-size: 12px;
  margin-left: 8px;
  border-radius: 50%;
  background: #dfdfdf;
  justify-content: center;
}

.content ul input{
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
}

.wrapper .details{
  justify-content: space-between;
}

.details button {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 9px 15px;
  border-radius: 5px;
  background: #5372f0;
}